.nav-admin {
  background-color: #000000;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  .title{
    margin-left: 1em;
    color: white;
  }

  a {
    margin-inline: 2em;
    color: white;
    &:hover {
      color: aquamarine;
    }
  }
}

// #btn1, #btn2{

// }

.sidebar {
  max-height: max-content;
  background-color: rgb(146, 146, 146);
  a {
    text-align: center;
    align-items: center;
    height: 4em;
    color: white;
    &:hover {
      color: aquamarine;
    }
  }
}

.admin-home {
  height: 100vh;
}
