/* Code imbriqué (nested) */
header {
  nav {
    ul {
      list-style: none;
      display: flex;

      gap: 20px;
      justify-content: space-around;

      /* Les svg pour la connexion/déconnexion */
      // li.login-out-link {
      //   svg {
      //     color: black;
      //     font-size: 1.0em;
      //   }

      //   &:hover {
      //     svg {
      //       color: $primary;
      //     }
      //   }
      // }

      a:hover {
        // @include button($fc: #000583);

        color: rgb(233, 7, 7);
      }
    }
  }
}

header {
  div.wrap-nav {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    // padding: 25px;
    img {
      min-width: 40%;
      max-width: 80%;
      min-height: 10%;
      max-height: 25%;
    }
  }
}

// Affichage Menu Burger
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
}
li {
  list-style: none;
}

a {
  color: #000583;
  text-decoration: none;
}

a:hover {
  color: rgb(233, 7, 7);
}

/**** NAVBAR ****/
nav {
  background: rgb(251, 252, 252);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: calc(0.2rem + 1.5vw);
  
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
 
}
#icons {
  cursor: pointer;
  display: none;
}

@media (max-width: 650px) {
  #icons {
    display: block;
  }
  #icons:before {
    content: "\2630";
  }
  .active #icons:before {
    content: "\2715";
  }
  nav ul {
    flex-direction: column;
    // justify-content: center;
    position: fixed;
    height: 70vh;
    left: 100%;
    top: 16%;
    background: #d9d9d9;
    width: 100vw;
    // text-align: center;
    transition: 1.25s;
    z-index: 3;
     
  }
  nav li {
    // padding: 5px 0;
    border: none;
    gap: 1px;
   
  }

    li:hover{
        background-color: white;

    }
  nav.active ul {
    left: 0;
    z-index: 3;
  }
  

  a {
     font-size: 15px;
    color:#000583;
  }
  a:hover{
    color: rgb(233, 7, 7);

  }



}
