/* Code imbriqué (nested) */
header {
  nav {
    
    ul {
      list-style: none;
      display: flex;
      
      gap: 20px;
      justify-content: space-around;;

      /* Les svg pour la connexion/déconnexion */
      // li.login-out-link {
      //   svg {
      //     color: black;
      //     font-size: 1.0em;
      //   }

      //   &:hover {
      //     svg {
      //       color: $primary;
      //     }
      //   }
      // }

      a:hover {
        // @include button($fc: #000583);
         
           color: rgb(233, 7, 7);
        
      }
    }
  }
}

header{
  div.wrap-nav{
    background-color: #D9D9D9;
    display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      align-content: center;
    // padding: 25px;
    img{
      
    
      min-width: 40%;
      max-width: 80%;
      min-height: 10%;   
      max-height: 25%;   
    }
  }
}

// Affichage Menu Burger
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
}
li {
  list-style: none;
  
}
a {
  color: #000583;
  text-decoration: none;
}
//a:visited
a:hover {
  color: rgb(233, 7, 7);
}

/**** NAVBAR ****/
nav {
  background: rgb(251, 252, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: calc(0.2rem + 1.5vw);
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
#icons {
  cursor: pointer;
  display: none;
}

@media (max-width: 650px) {
  #icons {
    display: block;
  }
  #icons:before {
    content: "\2630";

  }
  .active #icons:before {
    content: "\2715";
  }
  nav ul {

    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100vh;
    left: 100%;
    top: 16%;    
    background: #D9D9D9;
    width: 100%;
    text-align: center;
    transition: 1.25s;
    
  }
  nav li {
    padding: 10px 0;
    border: none;
    gap: 5px;
    
  }
  nav li:hover {
    background: rgb(255, 255, 255);
  }
  nav.active ul {
    left: 0;
  }
  a{
    font-size: 20px;
    color: #000583; 
  }

}
