.App {
  text-align: center;
}


.App-logo {
  height: 50vmin;
  pointer-events: none;
}

.wrap-nav{
  background-color: #d9d9d9;
  height: 5em;
  
  
}
#logo{
 width: 20em;
 max-width: 100%;
 height: auto;
 margin-block: 1.2em;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) translateX(0%);
  }
  to {
    transform: rotate(360deg) translateX(50%);
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



footer{
  background-color: aquamarine;
}