.App {
  text-align: center;
  /* overflow: hidden; */
  
}

li {
  list-style: none;
  text-decoration: none;
}

#vm1 {
  width: 100%;
  height: auto;
}

#vm2 {
  width: 100%;
  height:100%;
  /* height: 19rlh; */
}

#vm1logo {
  max-width: 50vw;
  height: auto;
  justify-content: center;
}

#containerDesign {
  display: flex;
  padding-inline: 18vw;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

#containerPluie {
  display: flex;
  padding-inline: 18vw;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.text-homePage {
  font-size: 1.3em;
  text-align: justify;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.wrap-nav {
  width: 100%;
  background-color: #d9d9d9;
  height: 6em;
  
}
#logo {
  width: 27em;
  max-width: 90%;
  height: auto;
  margin-block: 1.2em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-main {
  max-width: 50%;
}

#img-velo-old,
#img-velo-old2 {
  width: 100%;
  height: auto;
}

#containerUsine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

#usine {
  max-width: 50vw;
  height: auto;
  justify-content: center;
}

.containerHistoire {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 50px;
}

#histoireTexte {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .containerhistoire {
    flex-direction: column;
  }

  .image,
  #histoireTexte {
    flex: 1;
    margin: 10px 0;
  }
}

#containerShowroom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  text-align: center;
}

#agde,
#cass,
#stnazaire,
#salon {
  max-width: 20vw;
}


.modeles{
  display: grid;
  flex-direction: row;
  text-align: justify;
}

.formImage {
  display: grid;
}

#usine {
  max-width: 50vw;
  height: auto;
  justify-content: center;
}

.containerHistoire {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 50px;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

#containerShowroom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  text-align: center;
}

#agde,
#cass,
#stnazaire,
#salon {
  max-width: 20vw;
}

#add-velomobile{
margin-left: 5vw;
}