.App {
  text-align: center;
}

li {
  list-style: none;
  text-decoration: none;
}

#vm1{
max-width:80vw;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.wrap-nav {
  width: 100%;
  background-color: #d9d9d9;
  height: 6em;
  
}
#logo {
  width: 27em;
  max-width: 90%;
  height: auto;
  margin-block: 1.2em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-main {
  max-width: 50%;
}

@media(max-width:650px){
  footer{
    display:block;
  }


footer {
  background-color: #d9d9d9;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
}

.footer-left {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.footer-center {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  justify-content: center;
}
.footer-right {
  display: flex;
  margin-top: 1em;
  align-items: center;
}

 footer ul > li{
  margin-right: 1em;
  font-size: 1.3em;
}


}
 